.modalTitle {
  padding-top: 50px;
  text-align: center;
  font-weight: 900;
  font-size: 36px;
  line-height: 48px;
}

.modalContainer {
  padding: 50px 50px;
  padding-bottom: 90px;
}

.inputBox {
  width: 500px;
}

.error {
  padding-left: 7px;
  color: red;
  font-family: Inter;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.modalBtn {
  --g-button-background-color: #007aff;
  --g-button-background-color-hover: #2d92ff;
  --g-button-font-size: 18px;
}
