.modalTitle {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-weight: 900;
  font-size: 36px;
  line-height: 48px;
}

.modalContainer {
  width: 600px;
  padding: 0px 50px;
  padding-bottom: 90px;
}

.modalBtn {
  --g-button-background-color: #1daa61;
  --g-button-background-color-hover: #4daa61;
  --g-button-font-size: 18px;
}
