@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

.g-root {
  --g-font-family-monospace:
    "Roboto Mono", "Monaco", "Consolas", "Liberation Mono", "Ubuntu Mono",
    "DejaVu Sans Mono", "Courier New", "Courier", monospace;
}

.g-root_theme_light {
  --g-color-private-brand-50: rgb(29 170 97 / 0.1);
  --g-color-private-brand-100: rgb(29 170 97 / 0.15);
  --g-color-private-brand-150: rgb(29 170 97 / 0.2);
  --g-color-private-brand-200: rgb(29 170 97 / 0.3);
  --g-color-private-brand-250: rgb(29 170 97 / 0.4);
  --g-color-private-brand-300: rgb(29 170 97 / 0.5);
  --g-color-private-brand-350: rgb(29 170 97 / 0.6);
  --g-color-private-brand-400: rgb(29 170 97 / 0.7);
  --g-color-private-brand-450: rgb(29 170 97 / 0.8);
  --g-color-private-brand-500: rgb(29 170 97 / 0.9);
  --g-color-private-brand-550: rgb(29 170 97);
  --g-color-private-brand-550-solid: rgb(29 170 97);
  --g-color-private-brand-1000-solid: rgb(33 50 43);
  --g-color-private-brand-950-solid: rgb(33 57 47);
  --g-color-private-brand-900-solid: rgb(33 71 53);
  --g-color-private-brand-850-solid: rgb(32 85 59);
  --g-color-private-brand-800-solid: rgb(32 100 66);
  --g-color-private-brand-750-solid: rgb(31 114 72);
  --g-color-private-brand-700-solid: rgb(31 128 78);
  --g-color-private-brand-650-solid: rgb(30 142 84);
  --g-color-private-brand-600-solid: rgb(30 156 91);
  --g-color-private-brand-500-solid: rgb(52 179 113);
  --g-color-private-brand-450-solid: rgb(74 187 129);
  --g-color-private-brand-400-solid: rgb(97 196 144);
  --g-color-private-brand-350-solid: rgb(119 204 160);
  --g-color-private-brand-300-solid: rgb(142 213 176);
  --g-color-private-brand-250-solid: rgb(165 221 192);
  --g-color-private-brand-200-solid: rgb(187 230 208);
  --g-color-private-brand-150-solid: rgb(210 238 223);
  --g-color-private-brand-100-solid: rgb(221 242 231);
  --g-color-private-brand-50-solid: rgb(232 247 239);

  --g-color-text-brand: var(--g-color-private-brand-700-solid);
  --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
  --g-color-text-link: var(--g-color-private-brand-600-solid);
  --g-color-text-link-hover: var(--g-color-private-brand-800-solid);
  --g-color-text-link-visited: var(--g-color-private-purple-550-solid);
  --g-color-text-link-visited-hover: var(--g-color-private-purple-800-solid);
  --g-color-base-background: rgb(255, 255, 255);
  --g-color-base-brand: var(--g-color-private-brand-550-solid);
  --g-color-base-brand-hover: var(--g-color-private-brand-600-solid);
  --g-color-base-selection: var(--g-color-private-brand-200);
  --g-color-base-selection-hover: var(--g-color-private-brand-300);
  --g-color-line-brand: var(--g-color-private-brand-600-solid);

  --gil-color-object-base: var(--g-color-private-brand-550-solid);
  --gil-color-object-hightlight: var(--g-color-private-brand-350-solid);
  --gil-color-object-accent-heavy: var(--g-color-private-brand-650-solid);
  --gil-color-object-accent-light: var(--g-color-private-white-1000-solid);
  --gil-color-object-danger: var(--g-color-private-red-550-solid);
  --gil-color-shadow-over-object: var(--g-color-private-brand-650-solid);
  --gil-color-background-lines: var(--g-color-private-brand-650-solid);
  --gil-color-background-shapes: var(--g-color-private-brand-100-solid);
}

.g-root_theme_dark {
   --g-color-private-brand-50: rgb(29 170 97 / 0.1);
    --g-color-private-brand-100: rgb(29 170 97 / 0.15);
    --g-color-private-brand-150: rgb(29 170 97 / 0.2);
    --g-color-private-brand-200: rgb(29 170 97 / 0.3);
    --g-color-private-brand-250: rgb(29 170 97 / 0.4);
    --g-color-private-brand-300: rgb(29 170 97 / 0.5);
    --g-color-private-brand-350: rgb(29 170 97 / 0.6);
    --g-color-private-brand-400: rgb(29 170 97 / 0.7);
    --g-color-private-brand-450: rgb(29 170 97 / 0.8);
    --g-color-private-brand-500: rgb(29 170 97 / 0.9);
    --g-color-private-brand-550: rgb(29 170 97);
    --g-color-private-brand-550-solid: rgb(29 170 97);
    --g-color-private-brand-1000-solid: rgb(221 242 231);
    --g-color-private-brand-950-solid: rgb(210 238 223);
    --g-color-private-brand-900-solid: rgb(187 230 208);
    --g-color-private-brand-850-solid: rgb(165 221 192);
    --g-color-private-brand-800-solid: rgb(142 213 176);
    --g-color-private-brand-750-solid: rgb(119 204 160);
    --g-color-private-brand-700-solid: rgb(97 196 144);
    --g-color-private-brand-650-solid: rgb(74 187 129);
    --g-color-private-brand-600-solid: rgb(52 179 113);
    --g-color-private-brand-500-solid: rgb(30 156 91);
    --g-color-private-brand-450-solid: rgb(30 142 84);
    --g-color-private-brand-400-solid: rgb(31 128 78);
    --g-color-private-brand-350-solid: rgb(31 114 72);
    --g-color-private-brand-300-solid: rgb(32 100 66);
    --g-color-private-brand-250-solid: rgb(32 85 59);
    --g-color-private-brand-200-solid: rgb(33 71 53);
    --g-color-private-brand-150-solid: rgb(33 57 47);
    --g-color-private-brand-100-solid: rgb(33 50 43);
    --g-color-private-brand-50-solid: rgb(34 43 40);

    --g-color-text-brand: var(--g-color-private-brand-600-solid);
    --g-color-text-brand-heavy: var(--g-color-private-brand-700-solid);
    --g-color-text-brand-contrast: var(--g-color-text-dark-primary);
    --g-color-text-link: var(--g-color-private-brand-550-solid);
    --g-color-text-link-hover: var(--g-color-private-brand-700-solid);
    --g-color-text-link-visited: var(--g-color-private-purple-700-solid);
    --g-color-text-link-visited-hover: var(--g-color-private-purple-850-solid);
    --g-color-base-background: rgb(34, 29, 34);
    --g-color-base-brand: var(--g-color-private-brand-550-solid);
    --g-color-base-brand-hover: var(--g-color-private-brand-650-solid);
    --g-color-base-selection: var(--g-color-private-brand-150);
    --g-color-base-selection-hover: var(--g-color-private-brand-200);
    --g-color-line-brand: var(--g-color-private-brand-600-solid);

    --gil-color-object-base: var(--g-color-private-brand-550-solid);
    --gil-color-object-hightlight: var(--g-color-private-brand-700-solid);
    --gil-color-object-accent-heavy: var(--g-color-private-brand-350-solid);
    --gil-color-object-accent-light: var(--g-color-private-white-1000-solid);
    --gil-color-object-danger: var(--g-color-private-red-550-solid);
    --gil-color-shadow-over-object: var(--g-color-private-brand-500-solid);
    --gil-color-background-lines: var(--g-color-private-brand-650-solid);
    --gil-color-background-shapes: var(--g-color-private-brand-200-solid);
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --text: #000000;
  --bg: #f7f5f3;
  /* --border: #e5e4e7;
  --accent: #aa3bff; */

  font-family: Montserrat, sans-serif;
  color: var(--text);
  background: var(--bg);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}
